################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/PokeList_WebApi/bin
/PokeList_WebApi/obj
/PokeList_WebApi/Properties/PublishProfiles
/PokeList_Model/obj/ARM/Debug
/PokeList_Model/bin/ARM/Debug
/PokeList_UWP/bin/ARM/Debug
/PokeList_UWP/obj/ARM/Debug
/PokeList_UWP/obj/x86/Debug/PokeList_UWP.csprojResolveAssemblyReference.cache
/PokeList_UWP/obj/x86/Debug/PokeList_UWP.csproj.FileListAbsolute.txt
/PokeList_UWP/obj/x86/Debug/RootPage.g.i.cs
/PokeList_UWP/obj/x86/Debug/RootPage.g.cs
/SwipeableSplitView_UWP/obj/x86/Debug
/SwipeableSplitView_UWPClass/bin
/SwipeableSplitView_UWPClass/obj
/SwipeableSplitView_UWPClass
/PokeList_Model/obj/x64/Debug
/PokeList_Model/bin/x64/Debug
/PokeList_UWP/obj/x64/Debug
/PokeList_UWP/bin/x64/Debug
/PokeList_Model/bin/ARM/Release
/PokeList_Model/obj
/PokeList_UWP/bin/ARM/Release
/PokeList_UWP/obj
/PokeList_Model/bin/x64/Release
/PokeList_UWP/bin/x64/Release
