<div class="jumbotron">
    <h1>PokeList WebApi</h1>
    <p class="lead">PokeList WebApi is a simple api that return basic information about 1st generation Pokemons</p>
    <p><a href="/Help" class="btn btn-danger btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>You can start using this api, it's very simple to use.</p>
        <p><a class="btn btn-default" href="/Help/Api/GET-api-PokemonEn">Get all Pokemon &raquo;</a></p>
    </div>
</div>
